body{
	background: url("../images/clouds.png");
}

img {
      width: 200px;
      height: 200px;
    }

header {
	width: 100%;
	font-size: 100px;
}

footer {
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 20px;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  clear: both;
}
